.front-page
  %h1
    Welcome to My Friends Mapper!
  %p 
    Coming soon you will be able to map out all of your friends to see where they are.
%br
.row-fluid
  .well.span4
    %h3 Map out your friends
    %p 
      Want to see where al of your friends live?  How about creating a map for all of your High School or College graduation classes?  Old Army buddies all over the world?  Map them out to see where they are at.
  .well.span4
    %p 
      There
  .well.span4
    %h3 Wanna try it out?
    %p 
      = link_to 'Register'

